split & join

In [2]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [5]:
example = "teamlab.technology.io"
subdomain, domain, tld = example.split(".")
print(subdomain)
print(domain)
print(tld)

teamlab
technology
io

In [6]:
colors = ["red", "blue", "green", "yellow"]
"-".join(colors)

'red-blue-green-yellow'

List Comprehension

In [7]:
# GENERAL
result = []
for i in range(10):
  result.append(i)

result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# LIST COMPREHENSION
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
result = [i for i in range(10) if i % 2 == 0]    # 짝수만, Fitler
result

[0, 2, 4, 6, 8]

In [11]:
word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2]    # Nested For loop
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [13]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i+j for i in case_1 for j in case_2 if not(i==j)]    # Filter
result.sort()
result

['AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

In [15]:
words = 'The quick brown fox jumps over the lazy dog'.split()
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [17]:
stuff = [[w.upper(), w.lower(), len(w)] for w in words]    # Two dimentional array, for문이 먼저 작동
for i in stuff:
  print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

enumerate & zip

In [24]:
# enumerate: list의 element를 추출할 때 번호를 붙여서 추출

for i, v in enumerate("ABC"):
  print("{0} \t {1}".format(i, v))

0 	 A
1 	 B
2 	 C

In [58]:
text = "Samsung Group is a South Korean multinational conglomerate headquartered in Samsung Town Seoul."
set_text = list(set(text.split()))
{i:v.lower() for i, v in enumerate(set_text)}

{0: 'town',
 1: 'seoul.',
 2: 'south',
 3: 'a',
 4: 'is',
 5: 'headquartered',
 6: 'samsung',
 7: 'conglomerate',
 8: 'group',
 9: 'in',
 10: 'multinational',
 11: 'korean'}

In [61]:
# zip: 두 개의 list 값을 병렬적으로 추출
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

[ c for c in zip(alist, blist)]

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [64]:
math = (100, 90, 80)
kor = (90, 90, 70)
eng = (90, 80, 70)

student1, student2, student3 = [sum(value) / 3 for value in zip(math, kor, eng)]
print(student1, student2, student3)

93.33333333333333 86.66666666666667 73.33333333333333

In [65]:
for i, values in enumerate(zip(alist, blist)):
  print(i, values)

0 ('a1', 'b1')
1 ('a2', 'b2')
2 ('a3', 'b3')

lambda & map & reduce

In [68]:
# lambda: 익명함수

(lambda x, y : x + y)(10, 50)

60

In [70]:
up_low = lambda x : x.upper() + x.lower()

up_low("My Happy Birthday")

'MY HAPPY BIRTHDAYmy happy birthday'

In [71]:
# map: 시퀀스형 데이터에 함수를 각각 적용
ex = [1, 2, 3, 4, 5]
f = lambda x: x **2

list(map(f, ex))

[1, 4, 9, 16, 25]

In [72]:
# reduce: list에 똑같은 함수를 적용해서 통합
from functools import reduce
reduce(lambda x, y: x +y, [1, 2, 3, 4, 5])

15

function passing arguments

In [75]:
# keyward arguments: 함수에 입력되는 parameter의 변수명을 사용
def print_something(my_name, your_name):    # 차례 인지
  print("Hello {0}, My name is {1}".format(your_name, my_name))

print_something("Jungwoo", "Everyone")
print_something(my_name = "Jungwoo", your_name = "Everyone")

Hello Everyone, My name is Jungwoo
Hello Everyone, My name is Jungwoo

In [76]:
# default argument: parameter의 기본 값을 사용, 미입력 시 기본값 출력
def print_something(my_name, your_name = "Everytwo"):    # 차례 인지
  print("Hello {0}, My name is {1}".format(your_name, my_name))

print_something("Jungwoo")
print_something(my_name = "Jungwoo", your_name = "Everyone")

Hello Everytwo, My name is Jungwoo
Hello Everyone, My name is Jungwoo

variable-length asterisk

In [77]:
def asterisk_test(a, b, *args):
  return a+ b+ sum(args)

print(asterisk_test(1, 2, 3, 4, 5))

15

In [82]:
# **kwargs: parameter 이름을 따로 지정하지 않고 입력하는 방법
def kwargs_test_1(**kwargs):
  print(kwargs)
  print(type(kwargs))

kwargs_test_1(first=3, second=4, third=5, c=10, d=9)

{'first': 3, 'second': 4, 'third': 5, 'c': 10, 'd': 9}
<class 'dict'>

In [83]:
# parameters, args, kwargs 순서
def kwargs_test_3(one, two=3, *args, **kwargs):
  print(one + two + sum(args))
  print(args)
  print(kwargs)

kwargs_test_3(10,    30,    3,5,6,7,8,    first=3, second=4, third=5)

69
(3, 5, 6, 7, 8)
{'first': 3, 'second': 4, 'third': 5}